@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
    background: url(../assets/images/background-color.svg);
    background-size: cover;
}

button,
input {
    font-family: inherit;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 130px;
}

@mixin custom-button {
    background-color: $primary-color;
    color: $white-color;
    border: none;
    cursor: pointer;
}