//variables
$primary-color: #54BD95;
$black-color: #000000;
$gray-color: #A6A6A6;
$dark-color: #191A15;
$white-color: #FFFFFF;
$light-purple: #F9F8FE;
$text-white: #F8F8FA;
$light-green: #85DAB9;
$gray-light1: #F9FAFB;
$gray-light2: #A9A7B6;
$gray-dark1: #161C28;
$gray-dark2: #222938;;
